<figure>
  <blockquote class="blockquote">
    <p><%= @question %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    You
  </figcaption>
</figure>
<figure class="mark">
  <blockquote class="blockquote">
    <p><%= @response %></p>
  </blockquote>
  <figcaption class="blockquote-footer">
    Your coach
  </figcaption>
</figure>
<%= link_to "Ask a new question", ask_path %>
